<div class="ascii-title">
  <pre class="ascii-art large" aria-hidden=true>
                                 ,,        ,,                                                 
`7MM"""YMM                     `7MM      `7MM                                                 
  MM    `7                       MM        MM                                                 
  MM   d `7Mb,od8 .gP"Ya    ,M""bMM   ,M""bMM `7M'   `MF'                                     
  MM""MM   MM' "',M'   Yb ,AP    MM ,AP    MM   VA   ,V                                       
  MM   Y   MM    8M"""""" 8MI    MM 8MI    MM    VA ,V                                        
  MM       MM    YM.    , `Mb    MM `Mb    MM     VVV                                         
.JMML.   .JMML.   `Mbmmd'  `Wbmd"MML.`Wbmd"MML.   ,V                                          
                                                ,V                                           
                                              OOb"                                            
                                                                                              
                        ,,                               ,,          ,,                       
`7MMM.     ,MMF'      `7MM                             `7MM        `7MM                       
  MMMb    dPMM          MM                               MM          MM                       
  M YM   ,M MM  ,p6"bo  MM  ,pW"Wq.`7MM  `7MM  .P"Ybmmm  MMpMMMb.    MM   ,6"Yb.  `7MMpMMMb.  
  M  Mb  M' MM 6M'  OO  MM 6W'   `Wb MM    MM :MI  I8    MM    MM    MM  8)   MM    MM    MM  
  M  YM.P'  MM 8M       MM 8M     M8 MM    MM  WmmmP"    MM    MM    MM   ,pm9MM    MM    MM  
  M  `YM'   MM YM.    , MM YA.   ,A9 MM    MM 8M         MM    MM    MM  8M   MM    MM    MM  
.JML. `'  .JMML.YMbmd'.JMML.`Ybmd9'  `Mbod"YML.YMMMMMb .JMML  JMML..JMML.`Moo9^Yo..JMML  JMML.
                                             6'     dP                                       
                                             Ybmmmd'</pre>
  <pre class="ascii-art small" aria-hidden=true>
                                 ,,  
`7MM"""YMM                     `7MM 
  MM    `7                       MM 
  MM   d `7Mb,od8 .gP"Ya    ,M""bMM 
  MM""MM   MM' "',M'   Yb ,AP    MM 
  MM   Y   MM    8M"""""" 8MI    MM 
  MM       MM    YM.    , `Mb    MM 
.JMML.   .JMML.   `Mbmmd'  `Wbmd"MML</pre>
</div>
</div>