<footer>
    <section>
        <a href="/index.html">Home</a>
        <p>&copy; 2025 Freddy Mcloughlan</p>
        <p>Made with <a href="https://www.11ty.dev/docs/" class="soft">11ty</a></p>
    </section>
</footer>