<!DOCTYPE html>
<html lang="en">

<head>
    {% include "../components/head.njk" %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="stylesheet" href="/assets/css/ascii-title.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
</head>

<body>
    <main>
        <section class="header">
            {% include "components/ascii-title.njk" %}
        </section>
        <section>
            <h1 class="prefix" aria-hidden="true">Project</h1>
            <span class="project-title">
                <h1>
                    {{ title }}
                </h1>
                <a href="/index.html" class="home-link">
                    <img src="/assets/images/icons/home.svg" alt="Home" height="30px" width="30px">
                </a>
            </span>
            <hr>
        </section>
        <section class="project-description">
            <p>"{{ description }}"</p>
            <p class="year">{{date_display}}</p>
        </section>
        <section class="content">
            {{ content | safe }}
        </section>
    </main>

    {% include "../components/footer.njk" %}
</body>

</html>